* {
 font-family: 'Work Sans', sans-serif;
 font-size: 1rem;
}
body {
  background: linear-gradient(69deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 39%, rgba(0,93,255,0.5) 100%), url(../images/amateur-radio.jpg);
  background-position-x: center;
  background-position-y: center;
  min-height: calc(100vh);
  margin: 0;
  display: flex;
  flex-flow: column;
}
main {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.center {
  text-align: center;
}
.logoHam {
  width: auto;
  height: 75vh;
}
section {
  width: 90%;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav a {
  font-family: 'Stalinist One', cursive;
}
nav a:hover {
  color: yellow;
}